<!-- index.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags，解決不同顯示器的排版問題-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS jQuery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/myapp/css/searchPage.css' %}" />

    <script>
        function deleteSong(element){
            var sendData = element.value;
            $.ajax({
                       type: "POST",
                       url: "/deleteSong",
                       dataType: "json",
                       data: {
                           id : sendData,
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                       },
                       success: function (data) {
                       },
                       error: function () {
                           alert(data["state"]);
                       }
                   });
            element.closest('tr').remove()
        }
        function modifySong(element){
            $.ajax({
                       type: "POST",
                       url: "/modifySong",
                       dataType: "json",
                       data: {
                           id : $("#modify_id").val(),
                           song_name : $("#modify_song").val(),
                           artist : $("#modify_artist").val(),
                           csrfmiddlewaretoken: '{{ csrf_token }}'
                       },
                       success: function (data) {
                       },
                       error: function () {
                           alert(data["state"]);
                       }
                   });
             var x = element.closest('tr')
             x[0].innerHTML = "NEW CONTENT";
        }
        $(document).ready(function() {
            $('#insertBtn').on('click', function() {
                $.ajax({
                            type: "POST",
                            url: "/insertSong",
                            dataType: "json",
                            data: {
                                song_name : $("#insert_song").val(),
                                artist : $("#insert_artist").val(),
                                // url conflict with url:"/insertSong"
                                url_ : $("#insert_url").val(),
                                image : $("#insert_image").val(),
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                            },
                            success: function (data) {
                            },
                            error: function (data) {
                                alert(data["state"]);
                            }
                        });
            });
        })

    </script>
</head>

<body>
    <div class="container">
        <h1 align="center">Django Kkbox Testing</h1>

        <!-- search -->
        <form action='searchSong' method='GET'>
            <div class='form-group' , align="center">
                <input type="text" placeholder="歌名" name="search">
                <button type='submit' class='btn btn-primary'>search</button>
            </div>
        </form>

        <!-- insert -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#insertModal">
            Insert
        </button>

        <!-- body -->
        <table class="search_result table table-striped" align="center" style="margin:10px 0px 0px 0px">
            <thead>
                <tr>
                    <th>專輯封面</th>
                    <th>演唱者</th>
                    <th>歌名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for song in song_list %}
                <tr id = {{ song.id }}>
                    <th><img width="100" height="100" src={{ song.image }}></th>
                    <th>{{ song.artist }}</th>
                    <th><a href={{ song.url }}> {{ song.song_name }}</a></th>
                    <th>
                        <form>
                            <button id="deleteBtn" type="button" class="btn btn-danger" value = {{ song.id }} onclick="deleteSong(this)">Delete</button>

                            <button id="modifyModalBtn" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modifyModal"
                                    data-id={{ song.id }} data-song_name={{ song.song_name }} data-artist={{ song.artist }}>
                                Modify
                            </button>
                        </form>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- insert Modal -->
    <div class="modal fade" id="insertModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Insert New Song</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                    <div class="modal-body">
                        <div class='form-group'>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="insert_song_name">song name:</label>
                                <input type="text" class="form-control" name='song_name' value="" id="insert_song">
                            </div>
                            <div class="form-group">
                                <label for="insert_artist">artist:</label>
                                <input type="text" class="form-control" name='artist' value="" id="insert_artist">
                            </div>
                            <div class="form-group">
                                <label for="insert_url">url:</label>
                                <input type="text" class="form-control" name='url' value="" id="insert_url">
                            </div>
                            <div class="form-group">
                                <label for="insert_image">image:</label>
                                <input type="text" class="form-control" name='image' value="" id="insert_image">
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        {% csrf_token %}
                        <button id='insertBtn' type='submit' class="btn btn-primary" align="center" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
            </div>
        </div>
    </div>


    <!-- modify Modal -->
    <div class="modal fade" id="modifyModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h2 class="modal-title" id="head2">Modify Song</h2>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form>
                    <div class="modal-body">
                        <input id="modify_id" name="id" type="hidden" value="" />
                        <div class="form-group">
                            <label for="modify_song">song name:</label>
                            <input type="text" class="form-control" name="song_name" value="" id="modify_song"/>
                        </div>
                        <div class="form-group">
                            <label for="modify_artists">artist:</label>
                            <input type="text" class="form-control" name="artist" value="" id="modify_artist"/>
                        </div>
                    </div>

                    <div class="modal-footer">
                        {% csrf_token %}
                        <button id="modifyBtn" type='button' class="btn btn-primary" align="center" onclick="modifySong(this)" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>

                <script>
                    $(document).ready(function() {
                        $('#modifyModalBtn').on('click', function() {
                            document.getElementById("modify_id").value = $(this).attr('data-id');
                            console.log($(this).attr('data-id'));
                            document.getElementById("modify_song").value = $(this).attr('data-song_name');
                            console.log($(this).attr('data-song_name'));
                            document.getElementById("modify_artist").value = $(this).attr('data-artist');
                            console.log($(this).attr('data-artist'));
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    </div>


    <!-- 擺最後面是為了載入速度, jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>

<!-- // $('#modifyBtn').on('click', function() {
//     $.ajax({
//                 type: "POST",
//                 url: "/modifySong",
//                 dataType: "json",
//                 data: {
//                     id : $("#song_id").val(),
//                     song_name : $("#modify_song").val(),
//                     artist : $("#modify_artist").val(),
//                     csrfmiddlewaretoken: '{{ csrf_token }}'
//                 },
//                 success: function (data) {
//                     alert(data["state"]);
//                 },
//                 error: function () {
//                     alert(data["state"]);
//                 }
//             });
// }); -->
